doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		title Love Island Forum
		link#css(rel='stylesheet' type='text/css' href='/css/main.css')
		script(type='text/javascript' src='/js/episodes.js')
	body
		.user 
			.episodebuttons 
				p Episode:
				-var e = 1
				while e <= episodes
					if e == 1
						.episode(id=e).selected
							p #{e} 
					else
						.episode(id=e).locked
							p #{e} 
					-e++
		.content
			.feed 
				each post in posts
					.post(class = post.episode, id = post.id)
						p #{post.text}
						p Likes: #{post.likes}
						p Comments: #{post.comments}
						p Username: #{post.username}
						//time stamps
			.topposts 
				h2 Trending
				//change to top posts
				each post in posts
					.toppost(class = post.episode, id = post.id)
						p #{post.text}
						p Likes: #{post.likes}
						p Comments: #{post.length}
						p Username: #{post.username}
						//time stamps
			
			

