doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		title Love Island Forum
		link#css(rel='stylesheet' type='text/css' href='/css/main.css')
		script(type='text/javascript' src='/js/episodes.js')
	body
		.user 
			.episodebuttons 
				p Episode:
				-var e = 1
				while e <= episodes
					if e == 1
						.episode(id=e).selected
							p #{e} 
					else
						.episode(id=e).locked
							p #{e} 
					-e++
		.content
			.feed 
				each post in posts
					.post(class = post[1], id = post[0])
						p #{post[2]}
						p Likes: #{post[4]}
						p Comments: #{post[3]}
						p Username: #{post[5]}
						//time stamps
			.topposts 
				h2 Trending
				//change to top posts
				each post in posts
					.toppost(class = post[1], id = post[0])
						p #{post[2]}
						p Likes: #{post[4]}
						p Comments: #{post[3].length}
						p Username: #{post[5]}
						//time stamps
			
			

